
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #6a6a6a;
	line-height: 25px;
}

.section-heading {
	margin-bottom: 80px;
}
.section-heading span {
	color: #00bcd4;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	display: inline-block;
	margin-top: 0px;
}
.section-heading h2 {
	color: #1e1e1e;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.section-heading p {
	font-size: 15px;
}


/* About Us Page Style */
.about-us {
	padding: 100px 0px;
	background-color: #f7f7f7;
}
.about-us .left-image {
	margin-right: 30px;
}
.about-us .right-content {
	margin-left: 30px;
}
.about-us .left-image img {
	max-width: 100%;
	overflow: hidden;
}
.about-us .section-heading h2 {
	color: #1e1e1e;
}
.about-us .section-heading {
	margin-bottom: 40px;
	border-bottom: 3px solid #eee;
	padding-bottom: 40px;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* Footer Style */
footer {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 20px 0px 10px 0px;
}
footer .footer-heading h2 {
	color: back;
	font-size: 19px;
	font-weight: 100;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}
footer p {
	color: back;
}
footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
footer ul li {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 300;
	color: back;
	letter-spacing: 0.5px;
}

footer ul li a {
	color: back;
	font-size: 14px;
	font-weight: 300;
	transition: all 0.3s;
}
footer ul li a:hover {
	color: back;
	opacity: 0.75;
}

footer .sub-footer {
	text-align: center;
	margin-top: 40px;
	border-top: 1px solid rgba(50,50,50,0.30);
	padding-top: 40px;
}

footer .sub-footer a {
	color: back;
}
